# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android


# Node / Expo / EAS
node_modules/
.expo/
dist/
web-build/

# Local Build Artifacts
*.apk
*.aab
build-*/

# Spreadsheets & Converter Tooling
*.xlsx
*.csv
convertExcel.js
scrapeRealSpecs.js
fixCarDatabase.js

# Local environment & system files
.env*.local
.DS_Store
Thumbs.db

eas.json